{% extends 'employees/base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
<h1>Employee List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Department</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.user.username }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.position }}</td>
            <td><a href="{% url 'employee_detail' employee.pk %}">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}