{% extends 'ems/base.html' %}

{% block title %}Employee Detail - {{ employee.user.username }}{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-sm-3 {
        flex: 0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-sm-9 {
        flex: 0 0 calc(75% - 30px);
        max-width: calc(75% - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }

    dt {
        font-weight: bold;
        margin-bottom: 10px;
    }

    dd {
        margin-bottom: 10px;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        display: inline-block;
        margin-top: 20px;
    }
</style>

<div class="container mt-4">
    <h1>Employee Detail</h1>
    <dl class="row">
        <dt class="col-sm-3">S1 No</dt>
        <dd class="col-sm-9">{{ employee.s1_no }}</dd>
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{ employee.name }}</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ employee.email }}</dd>
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">{{ employee.phone }}</dd>
        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9">{{ employee.role }}</dd>
        <!-- <dt class="col-sm-3">Designation</dt>
        <dd class="col-sm-9">{{ employee.designation }}</dd> -->
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">{{ employee.department }}</dd>
    </dl>
    <a href="{% url 'employee_list' %}" class="btn btn-secondary">Back to Employee List</a>
</div>
{% endblock %}