{% extends 'ems/base.html' %}
{% load static %}
{% block title %}Leave List{% endblock %}

{% block content %}
<h1>Leave List</h1>
<div class="col text-end">
    <a href="{% url 'apply_leave' %}" class="btn btn-primary float-right mb-3">Apply for Leave</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Leave Type</th>
            <th>From</th>
            <th>To</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaves %}
        <tr>
            <td>{{ leave.employee.name }}</td>
            <td>{{ leave.get_leave_type_display }}</td>
            <td>{{ leave.from_date }}</td>
            <td>{{ leave.to_date }}</td>
            <td>{{ leave.reason }}</td>
            <td>{{ leave.get_status_display }}</td>
            <td>
                {% if leave.status == 'pending' %}
                <a href="{% url 'approve_leave' leave.pk %}" class="btn btn-success btn-sm">Approve</a>
                <a href="{% url 'reject_leave' leave.pk %}" class="btn btn-danger btn-sm">Reject</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}